---
import BaseLayout from "../../layouts/BaseLayout.astro";
const allPosts = Object.values(
  import.meta.glob("../posts/*.md", { eager: true })
);
const tags = [
  ...new Set(allPosts.map((post: any) => post.frontmatter.tags).flat()),
];
const pageTitle = "Tag Index";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="tags">
    {
      tags.map((tag) => (
        <p class="tag">
          <a href={`/tags/${tag}`}>{tag}</a>
        </p>
      ))
    }
  </div>
</BaseLayout>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");

  a {
    color: #bd93e0;
    text-decoration: none;
    font-family: "Fira Code", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    margin: 0.25em;
    background-color: #2d2f3d;
  }

  .tag a:hover,
  .tag a:focus {
    background-color: #44475a;
  }
</style>
