---
const { url, title } = Astro.props;

---

<li>
  <a href={url}>{title} <a/>
</li>

<style>
  a {
    color: #ffb86c;
    text-decoration: none;
  }

  a:hover {
  color: #ffb86c;
  text-decoration: underline;
  
}
</style>