---
const { platform, username } = Astro.props;
---

<a href={`https://www.${platform}.com/${username}`}>{platform}</a>

<style>
  a {
    display: block;
  text-align: center;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #f8f8f2
  }

  a:hover,
 a:focus {
  color: #ff79c6;
  text-decoration: underline;
}
</style>
